@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300&display=swap');

:root {
    --color-primary-light: 172, 208, 54;
    --color-primary-dark: 136, 164, 40;
    --color-primary-outline-light: 106, 152, 17;
    --color-primary-outline-dark: 78, 110, 12;

    --color-ink-light-paper: 248, 248, 248;
    --color-ink-light-outline: 224, 224, 224;
    --color-ink-light: 212, 212, 212;

    --color-ink-dark-paper: 48, 48, 48;
    --color-ink-dark-outline: 36, 36, 36;
    --color-ink-dark: 24, 24, 24;

    --container-width: 1140px;
    --header-height: 96px;
}

body {
    padding: 0;
    margin: 0;
}

body, td, th {
    font-family: Lato, Arial, sans-serif;
}

@media (prefers-color-scheme: light) {
    :root {
        --color-paper: rgb(var(--color-ink-light-paper));
        --color-accent-outline: rgb(var(--color-primary-outline-dark));
        --color-accent: rgb(var(--color-primary-dark));
        --color-outline: rgb(var(--color-ink-light-outline));
        --color-ink: rgb(var(--color-ink-dark));
    }

    body {
        background: rgb(var(--color-ink-light));
        color: rgb(var(--color-ink-dark));
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-paper: rgb(var(--color-ink-dark-paper));
        --color-accent-outline: rgb(var(--color-primary-outline-light));
        --color-accent: rgb(var(--color-primary-light));
        --color-outline: rgb(var(--color-ink-dark-outline));
        --color-ink: rgb(var(--color-ink-light));
    }

    body {
        background: rgb(var(--color-ink-dark));
        color: rgb(var(--color-ink-light));
    }
}

a {
    color: var(--color-accent);
    transition: all ease-in-out 160ms;
}

a:hover {
    color: var(--color-accent-outline);
}

#siteHeader header, #siteContainer main {
    max-width: var(--container-width);
    width: 100%;
    margin: 0 auto;
}

section.articleGallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    padding: 20px 0;
    gap: 20px;
}

section.articleGallery > article {
    max-width: 25%;
}