# Editors
/.idea
/.vscode

# Project
/.astro
/.wrangler
/content/**/*.schema.json
/content/**/index.ts
/target
/**/.turbo
/**/dist
/**/server
/**/lib

# Node
/**/node_modules
/node_modules

# Logs
**/*.log*
*.log*

# Environment
.env