node-linker = hoisted
# hoist = false
public-hoist-pattern[] = !@builder.io/qwik
hoist-pattern[] = !@builder.io/qwik
# shamefully-hoist = true
include-workspace-root = true
prefer-workspace-packages = true
link-workspace-packages = deep
