---
import type { NavigationLinkData } from "components";
import { SiteMetadata, SiteHeader, MainContent, SiteFooter } from "components";
import { InitThemeSwitcher } from "features";
import { match } from "@adaliszk/std";
import { FeatureFlags } from "config";
import "assets/global.css";

const menu: NavigationLinkData[] = [];
for (const flag of FeatureFlags) {
    match(flag, "flag", {
        blog: ({ enabled }) =>
            enabled &&
            menu.push({
                label: "Blog",
                href: "/",
                path: ["articles"],
                width: 63.5938,
            }),
        biography: ({ enabled }) =>
            enabled &&
            menu.push({
                label: "Biography",
                href: "/biography",
                path: "biography",
                width: 103.094,
            }),
        projects: ({ enabled }) =>
            enabled &&
            menu.push({
                label: "Projects",
                href: "/projects",
                path: ["projects", ""],
                width: 87.3281,
            }),
        videos: ({ enabled }) =>
            enabled &&
            menu.push({
                label: "Videos",
                href: "/videos",
                path: "videos",
                width: 78.3906,
            }),
        _: () => {}, // Skip flags that are not related to navigation menu
    });
}

const { title, description } = Astro.props;
const { pathname } = Astro.url;
---

<!DOCTYPE HTML>
<html lang="en">
<head>
    <SiteMetadata title={title} description={description} />
</head>
<body>
    <div id="top" />

    <SiteHeader pathname={pathname} links={menu}>
        <slot name="header" />
    </SiteHeader>

    <MainContent>
        <slot />
    </MainContent>

    <SiteFooter>
        <slot name="footer" />
    </SiteFooter>

    <InitThemeSwitcher />
</body>
</html>
